{% extends "base.html" %}

{% block title %}My title:{% endblock %}

{% block content %}
<div class="text-center">
  <h1>InvOCR</h1>
</div>
<div class="container text-center">
      <div class="text-start">
        <h5>Add an invoice</h5>
      </div>
      <form method="post" enctype="multipart/form-data" onsubmit="openLoader(this)">
          {% csrf_token %}
          <div class="row">
          <div class="col-12 mb-5">
            <label for="invoice" class="form-label"></label>
            <input class="form-control" placeholder="file input" type="file" name="invoice" accept=".jpg, .jpeg, .png" /> 
            <input type="hidden" name="promt_keys" value="'αριθμός','σύνολο','πληρωτέο ποσό','αρ.παραστατικού','ημερομηνία','ΑΦΜ'" />
            <input type="hidden" name="promt"
              value="Attempt to find and extract the values form the indicators ({}) from the Greek text as comprehensively as possible, then provide the results in JSON format containing only the values" />
          </div>
          <div class="row">
          <div class="col-12 mb-5">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Json date" name="extra_promts" style="height: 2em"></textarea>
              <label for="extra_promts" class="form-label">Add extra comma seperate fields to get values</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5 text-end">
            <button name="textreq" class="btn btn-success" type="submit">Text Recognize</button>
            <button name= "qrcode" class="btn btn-success" type="submit">QRCode</button>
            <div id="loadingModal" style="display: none;">
              <button type="button" class="btn btn-primary" disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12 mb-5">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Json date" name="json_data" style="height: 25em">{{ json_data|safe }}</textarea>
            <label for="json_data" class="form-label">Result fields</label>
          </div>
        </div>
    </div>
</div> 
<script>
    function openLoader(btn) {
        document.getElementsByName("textreq")[0].style.display = "none";
        document.getElementsByName("qrcode")[0].style.display = "none";
        document.getElementById("loadingModal").style.display = "block";
      }
</script>
{% endblock %}